
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Pricedown';
    src: url('https://raw.githubusercontent.com/infin1tyy/pricedown-font-web/master/pricedown.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


.menu_antes{
    position: fixed;
    width: 100%;
}
.menu{
    display: flex;
    background-color: black;
    justify-content: space-between;
    color: white;
    font-size: 40px;
    padding: 0;
    margin: 0;
    font-family: "Bebas Neue";
}
body{
    background-color: black;
    padding: 0px;
    margin: 0px;
}
.logo{
    width: 100px;
    padding: 20px;
    padding-left: 40px;
    align-content: center;
}

.logo:hover{
    transform: scale(1.1);
}

.links{
    display: flex;
    gap: 40px;
    align-content: center;
    
}

.titulo_menu{
    text-decoration: none;
    color: white;
    align-content: center;
    padding-right: 60px;
    
}



.menu a:hover {
  text-decoration:underline  #e346ff;
  text-underline-offset: 6px;
}

.linea_horizontal{
    width: 100%;             
    height: 3px;             
    background-color: #e346ff;  
    margin: 0;       
    border-radius: 2px;
}

.personaje {
    width: 100%;
    height: 400px;
    padding-top: 220px;
    background-image: url("Fotos/fondo.jpg");
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
}
.contenido_personaje {
    display: flex;
    padding-top: 35px;        
    color: white;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
}

.contenido_personaje h1 {
    font-size: 100px;
    margin-bottom: 30px;
    color: white;
    font-family: "Pricedown";
}

.intros_contenido{
    display: flex;
    color: white;
    font-family: "Pricedown";
    font-size: 55px;
    padding: 50px;
    justify-content: center;
}


.intro_contenido{
    display: flex;
    flex: 2;
    padding: 85px;
    align-items: center;
}


.intro_contenido img{
    width: 450px;
    border-radius: 25px;
}

.texto_intro_contenido{
    padding-left: 45px;
}
.titulo_texto_intro_contenido h1{
    font-family: "Pricedown";
    color: #e346ff;
    font-size: 35px;
}

.subtitulo_texto_intro_contenido p{
    
    font-family: "Science Gothic";
    padding-top: 15px;
    color: white;
    font-size: 19px;
}

.linea_horizontal_contenido{
    width: 50%;             
    height: 3px;             
    background-color: #e346ff;  
    margin-left: 25%;       
    border-radius: 2px;
}

.texto_intro_contenidos{
    padding-right: 45px;
}


footer{
    display: flex;
    justify-content: center;
}

.footer_1{
    display: block;
    padding-top: 35px;
    align-items: center;
    padding-left: 50px;
    border-left: #e346ff 2px solid;
}
.footer_1 img{
    width: 150px;
}
.footer_2{
    display: block;
    padding-left: 170px;
    padding-top: 15px;
}
.footer_2 h1{
    font-family: "Pricedown";
    font-size: "30px";
    color: #e346ff;
    padding-left: 70px;
}

.footer_2 ol{
    font-family: "Bebas Neue";
    font-size: 35px;
    color: white;
    text-align: center;
}
.footer_2 a{
    text-decoration: none;
    font-family: "Bebas Neue";
    font-size: 35px;
    color: white;
}
.footer_3{
    display: block;
    padding-left: 170px;
    padding-top: 15px;
    padding-right: 50px;
    border-right: #e346ff 2px solid;
}
.footer_3 h1{
    font-family: "Pricedown";
    font-size: "30px";
    color: #e346ff;
    padding-left: 70px;
}

.footer_3 ol{
    font-family: "Bebas Neue";
    font-size: 35px;
    color: white;
    text-align: center;
}
.footer_3 a{
    text-decoration: none;
    font-family: "Bebas Neue";
    font-size: 35px;
    color: white;
}