
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Pricedown';
    src: url('https://raw.githubusercontent.com/infin1tyy/pricedown-font-web/master/pricedown.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


.menu_antes{
    position: fixed;
    width: 100%;
}
.menu{
    display: flex;
    background-color: black;
    justify-content: space-between;
    color: white;
    font-size: 40px;
    padding: 0;
    margin: 0;
    font-family: "Bebas Neue";
}
body{
    background-color: black;
    padding: 0px;
    margin: 0px;
}
.logo{
    width: 100px;
    padding: 20px;
    padding-left: 40px;
    align-content: center;
}

.logo:hover{
    transform: scale(1.1);
}

.links{
    display: flex;
    gap: 40px;
    align-content: center;
    
}

.titulo_menu{
    text-decoration: none;
    color: white;
    align-content: center;
    padding-right: 60px;
    
}



.menu a:hover {
  text-decoration:underline  #e346ff;
  text-underline-offset: 6px;
}

.linea_horizontal{
    width: 100%;             
    height: 3px;             
    background-color: #e346ff;  
    margin: 0;       
    border-radius: 2px;
}